.rtl {
  direction: rtl;
}

/* ------------------------ */
/*           Card           */
/* ------------------------ */
.card {
  display: flex;
  align-items: center;
  max-width: 500px;
  padding: 20px;
  margin: 20px auto;
  background-color: #2a2a40;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

  .avatar {
    width: 80px;
    height: 80px;
    background-color: lightblue;
    border-radius: 50%;
    margin-inline-end: 1rem;
  }

  .content {
    flex: 1;

    h2 {
      margin-bottom: 0.3rem;
    }

    p {
      opacity: 0.6;
    }
  }
}
